<?xml version="1.0" encoding="UTF-8"?>
<sdf version='1.6'>

  {% import "component_snippets.sdf.jinja" as components %}

  {# ================================================================== #}
  {# ||                    parameters definition                     || #}
  {# ================================================================== #}

  {# Robot parameters and arguments {--> #}
  {%- set mass = 1.75 -%} {# [kg] #}
  {%- set body_width = 0.18 -%} {# [m] #}
  {%- set body_length = 0.05 -%} {# [m] #}
  {%- set body_height = 0.075 -%} {# [m] #}
  {%- set mass_prop = 0.005 -%} {# [kg] #}
  {%- set radius_rotor = 0.05 -%} {# [m] #}

  {%- set motor_mesh_z_offset = -0.0196 -%} {# [m] #}
  {%- set rotor_x_offset = 0.11 -%} {# [m] #}
  {%- set rotor_y_offset = 0.125 -%} {# [m] #}
  {%- set rotor_z_offset = 0.035 -%} {# [m] #}

  {%- set root = 'base_link' -%}
  {# <!--}--> #}

  {# Motor constants {--> #}
  {%- set rotor_velocity_slowdown_sim = 1.0 -%}
  {%- set motor_quadratic_a = 0.243975 -%}
  {%- set motor_quadratic_b = -0.232754 -%}
  {%- set motor_constant = 5.68e-6 -%} {# [kg.m/s^2] #}
  {%- set moment_constant = 0.016 -%} {# [m] #}
  {%- set time_constant_up = 1.0 / 80.0 -%} {# [s] #}
  {%- set time_constant_down = 1.0 / 40.0 -%} {# [s] #}
  {%- set max_rot_velocity = 2038 -%} {# [rad/s] #}
  {%- set rotor_drag_coefficient =  8.06428e-06 -%} 
  {%- set rolling_moment_coefficient = "1.0e-6" -%}
  {# <!--}--> #}

  {# Inertia constants {--> #}
  {%- set inertia_body_radius = 0.25 -%} {# [m] #}
  {%- set inertia_body_height = 0.05 -%} {# [m] #}
  {# <!--}--> #}

  {# Scales {--> #}
  {%- set mesh_scale = '1 1 1' -%}
  {%- set mesh_scale_prop_ccw = '1 1 1' -%}
  {%- set mesh_scale_prop_cw = '-1 1 1' -%}
  {%- set mesh_scale_milimeters = '0.001 0.001 0.001' -%}
  {# <!--}--> #}

  {# Meshes {--> #}

  {# Frame parts {--> #}
  {%- set board_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/board.stl' -%} 
  {%- set leg_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/leg.stl' -%}
  {# <!--}--> #}

  {# Motors and props {--> #} 
  {%- set motor_bottom_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/bottom_motor.stl' -%}
  {%- set motor_middle_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/mid_motor.stl' -%}
  {%- set motor_top_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/top_motor.stl' -%}
  {%- set prop_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/propeller.stl' -%}
  {# <!--}--> #}

  {# Sensors and computers {--> #}
  {%- set pixhawk6c_mesh_file = 'model://laser_uavs_description/meshes/boards/pixhawk.stl' -%} 
  {%- set garmin_mesh_file = 'model://laser_uavs_description/meshes/sensors/garmin.stl' -%} 
  {%- set nuc_board_mesh_file = 'model://laser_uavs_description/meshes/boards/nuc_board_mesh_file.stl' -%}
  {%- set nuc_cooler_mesh_file = 'model://laser_uavs_description/meshes/boards/nuc_cooler_mesh_file.stl' -%}
  {# <!--}--> #}

  {# Mounts {--> #}  
  {%- set battery_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/battery_mesh_file.stl' -%}
  {# <!--}--> #}

  {# <!--}--> #}

  {# Inertias {--> #}
  {%- set body_ixx = mass * (3 * inertia_body_radius * inertia_body_radius + inertia_body_height * inertia_body_height) / 12 -%}
  {%- set body_ixy = 0 -%}
  {%- set body_ixz = 0 -%}
  {%- set body_iyy = mass * (3 * inertia_body_radius * inertia_body_radius + inertia_body_height * inertia_body_height) / 12 -%}
  {%- set body_iyz = 0 -%}
  {%- set body_izz = (mass * inertia_body_radius * inertia_body_radius) / 2 -%}


  {%- set prop_ixx = 0.00002 -%}
  {%- set prop_ixy = 0 -%}
  {%- set prop_ixz = 0 -%}
  {%- set prop_iyy = 0.00002 -%}
  {%- set prop_iyz = 0 -%}
  {%- set prop_izz = 0.00002 -%}
  {# <!--}--> #}

	<model name="{{  model_name  }}">
		<link name="{{  root  }}">
      <!-- Body physics {-->
      {{ components.multirotor_box_physics_macro(
      mass = mass,
      body_width = body_width,
      body_length = body_length,
      body_height = body_height,
      rotor_velocity_slowdown_sim = rotor_velocity_slowdown_sim,
      ixx = body_ixx,
      ixy = body_ixy,
      ixz = body_ixz,
      iyy = body_iyy,
      iyz = body_iyz,
      izz = body_izz)
      }}
      <!--}-->

			<!-- Body visuals {-->

			<!-- Boards {-->
      {{ components.visual_mesh_macro(
        name = 'top_board',
        mesh_file = board_mesh_file,
        mesh_scale = mesh_scale_milimeters,
        color = 'Black',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      
      {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_front_right',
        mesh_file = leg_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Black',
        x = 0.0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(270),
        collision_height = 0.10,
        collision_radius = 0.01,
        offset_x = 0.132,
        offset_y = -0.154,
        offset_z = -0.050)
      }}

     {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_front_left',
        mesh_file = leg_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Black',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(8),
        collision_height = 0.10,
        collision_radius = 0.01,
        offset_x = 0.132,
        offset_y = 0.154,
        offset_z = -0.050)
      }}

      {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_back_left',
        mesh_file = leg_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Blue',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90),
        collision_height = 0.10,
        collision_radius = 0.01,
        offset_x = -0.132,
        offset_y = 0.154,
        offset_z = -0.050)
      }}

      {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_back_right',
        mesh_file = leg_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Blue',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(188),
        collision_height = 0.10,
        collision_radius = 0.01,
        offset_x = -0.132,
        offset_y = -0.154,
        offset_z = -0.050)
      }}
			<!--}-->

      <!-- Intel nuc {-->
      {{ components.visual_mesh_macro(
        name = 'nuc_board',
        mesh_file = nuc_board_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grass',
        x = 0.045,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(0))
      }}
      {{ components.visual_mesh_macro(
        name = 'nuc_cooler',
        mesh_file = nuc_cooler_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grey',
        x = 0.045,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(0))
      }}
      <!--}-->

      <!-- Pixhawk {-->
      {{ components.visual_mesh_macro(
        name = 'pixhawk6c',
        mesh_file = pixhawk6c_mesh_file,
        mesh_scale = mesh_scale,
        color = 'DarkGrey',
        x = 0,
        y = 0,
        z = -0.025,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      <!--}-->
      
      <!-- Garmin {-->
      {{ components.visual_mesh_macro(
        name = 'garmin',
        mesh_file = garmin_mesh_file,
        mesh_scale = mesh_scale_milimeters,
        color = 'DarkGrey',
        x = 0.09,
        y = 0,
        z = 0,
        roll = components.rad(-90),
        pitch = 0,
        yaw = components.rad(180))
      }}
      <!--}-->
      
      <!-- Motors {-->
      {%- set affix = 'front_right' -%}

      {%- for id in range(0, 4) -%}

        {%- if id == 1 -%}
          {%- set affix = 'front_left' -%}
        {%- endif -%}
        {%- if id == 2 -%}
          {%- set affix = 'back_left' -%}
        {%- endif -%}
        {%- if id == 3 -%}
          {%- set affix = 'back_right' -%}
        {%- endif -%}

        {{ components.visual_mesh_macro(
          name = 'motor_bottom_' + affix,
          mesh_file = motor_bottom_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Grey',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

        {{ components.visual_mesh_macro(
          name = 'motor_middle_' + affix,
          mesh_file = motor_middle_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Black',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

      {%- endfor -%}
      <!--}-->
      
      <!-- Battery mount and battery {-->
      {{ components.visual_mesh_macro(
        name = 'battery',
        mesh_file = battery_mesh_file,
        mesh_scale = mesh_scale_milimeters,
        color = 'Grey',
        x = -0.065,
        y = -0.022,
        z = -0.002,
        roll = 0,
        pitch = 0,
        yaw = 0)
      }}
      <!--}-->
     <!--}-->
    </link>

  {# Propellers {--> #}
    {%- set prop_list = [
    {
    'motor_number': 0,
    'direction': 'ccw',
    'x': rotor_x_offset,
    'y': -rotor_y_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_ccw,
    'color': 'Grey'
    },
    {
    'motor_number': 1,
    'direction': 'ccw',
    'x': -rotor_x_offset,
    'y': rotor_y_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_ccw,
    'color': 'Grey'
    },
    {
    'motor_number': 2,
    'direction': 'cw',
    'x': rotor_x_offset,
    'y': rotor_y_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_cw,
    'color': 'Grey'
    },
    {
    'motor_number': 3,
    'direction': 'cw',
    'x': -rotor_x_offset,
    'y': -rotor_y_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_cw,
    'color': 'Grey'
    }
    ]
    -%}
    {{ components.propellers_macro(
      prop_list = prop_list,
      rotor_velocity_slowdown_sim = rotor_velocity_slowdown_sim,
      motor_quadratic_a = motor_quadratic_a,
      motor_quadratic_b = motor_quadratic_b,
      motor_constant = motor_constant,
      moment_constant = moment_constant,
      parent = root,
      mass = mass_prop,
      radius = radius_rotor,
      time_constant_up = time_constant_up,
      time_constant_down = time_constant_down,
      max_rot_velocity = max_rot_velocity,
      rotor_drag_coefficient = rotor_drag_coefficient,
      rolling_moment_coefficient = rolling_moment_coefficient,
      meshes_z_offset = motor_mesh_z_offset,
      prop_ixx = prop_ixx,
      prop_ixy = prop_ixy,
      prop_ixz = prop_ixz,
      prop_iyy = prop_iyy,
      prop_iyz = prop_iyz,
      prop_izz = prop_izz)
    }}
    {# <!--}--> #}

    {# ================================================================== #}
    {# ||                compulsory sensor definitions                 || #}
    {# ================================================================== #}

    <!-- Pixhawk {-->
    {%- set imu_topic = '/imu' -%}
    {%- set mag_topic = '/mag' -%}
    {%- set baro_topic = '/baro' -%}
    {%- set lidar_topic = '/lidar' -%}

    <!-- Gazebo ground truth {-->
    {{ components.gazebo_groundtruth_macro(
      home_latitude = 0,
      home_longitude = 0,
      home_altitude = 0)
    }}
    <!--}-->

    <!-- GPS {-->
    {{ components.gazebo_gps_macro(
      gps_name = 'gps0',
      parent_link = root,
      update_rate = 10,
      gps_noise = true,
      gps_xy_random_walk = 50.0,
      gps_z_random_walk = 100.0,
      gps_xy_noise_density = '1.5e-2',
      gps_z_noise_density = '3.0e-2',
      gps_vxy_noise_density = 0.5,
      gps_vz_noise_density = 1.0,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->

    <!-- Magnetometer {-->
    {{ components.gazebo_magnetometer_macro(
      pub_rate = 100,
      noise_density = 0.0004,
      random_walk = 0.0000064,
      bias_correlation_time = 600,
      mag_topic = mag_topic)
    }}
    <!--}-->

    <!-- Barometer {-->
    {{ components.gazebo_barometer_macro(
      baro_topic = baro_topic,
      pub_rate = 50,
      baro_drift_pa_per_sec = 0)
    }}
    <!--}-->

    <!-- Mavlink interface {-->
    {{ components.px4_mavlink_interface_macro(
      namespace = namespace,
      instance = instance,
      imu_topic = imu_topic,
      mag_topic = mag_topic,
      baro_topic = baro_topic,
      lidar_topic = lidar_topic)
    }}
    <!--}-->

    <!-- IMU {-->
    <!-- NOTE: IMU has to be last, otherwise the simulation is extremely slow! -->
    {{ components.gazebo_imu_macro(
      imu_name = 'imu',
      parent_link = root,
      imu_topic = '/imu',
      gyroscope_noise_density = 0.00018665,
      gyroscope_random_walk = 0.000038785,
      gyroscope_bias_correlation_time = 1000.0,
      gyroscope_turn_on_bias_sigma = 0.0087,
      accelerometer_noise_density = 0.00186,
      accelerometer_random_walk = 0.006,
      accelerometer_bias_correlation_time = 300.0,
      accelerometer_turn_on_bias_sigma = 0.1960,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->
    <!--}-->

    {# ================================================================== #}
    {# ||                  optional sensor definitions                 || #}
    {# ================================================================== #}

    {# Ground truth {--> #}
    {% if enable_ground_truth %}
    {{ components.gazebo_ground_truth_macro(
      namespace = namespace,
      odometry_sensor_name = 'ground_truth',
      parent_link = root,
      topic_name = 'ground_truth',
      noise = 0,
      frame_name = 'world',
      update_rate = 100,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ======================= rangefinder sensors ====================== #}


    {# ========================== LIDAR sensors ========================= #}

    {# livox {--> #}
    {% if enable_livox %}
    {{ components.livox_lidar_macro(
      namespace = namespace,
      parent_link = root,
      sensor_name = 'livox',
      rot_freq = 15,
      noise = 0.01,
      max_range = 40,
      x = -0.07,
      y = 0.0,
      z = 0.065,
      roll = 0,
      pitch = components.rad(40),
      yaw = components.rad(180),
      lasers = 30)
    }} 

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'livox_imu',
      parent_link = root,
      topic_name = namespace + '/livox/imu',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = 0.0,
      pitch = 0.0,
      yaw = 0.0)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ========================== camera sensors ======================== #}


    {# ========================== VIO sensors ======================== #}


  </model>
</sdf>
