<?xml version="1.0" encoding="UTF-8"?>

<sdf version="1.6">

  {% import "component_snippets.sdf.jinja" as components %}

  <model name="payload">

    {# payload_box {--> #}
    {{ components.payload_box_macro(
    name='box_link',
    mass=0.3,
    size_x=0.1,
    size_y=0.1,
    size_z=0.1,
    attachment_distance=0.15)
    }} 
    {# <!--}--> #}

    {# payload_ground_truth {--> #}
    {% if enable_ground_truth %}
    {{ components.gazebo_ground_truth_macro(
    namespace=namespace,
    odometry_sensor_name='ground_truth',
    parent_link='box_link',
    topic_name='ground_truth',
    noise=0.0,
    frame_name='world',
    update_rate=100.0,
    x=0.0,
    y=0.0,
    z=0.0,
    roll=0.0,
    pitch=0.0,
    yaw=0.0,
    x_offset=x_offset,
    y_offset=y_offset,
    z_offset=z_offset,
    roll_offset=roll_offset,
    pitch_offset=pitch_offset,
    yaw_offset=yaw_offset)
    }}
    {% endif %}
    {# <!--}--> #}

    {# payload_connection {--> #}
    <plugin
      name="payload_connection_plugin"
      filename="libpayload_connection_plugin.so">

    <uav1_model>uav1_x500_0</uav1_model>
    <uav2_model>uav2_x500_1</uav2_model>

    <rope_length>1.0</rope_length>

    <stiffness>200.0</stiffness>
    <damping>10.0</damping>

    <max_force>50.0</max_force>

    <visual_segments>20</visual_segments>
    <visual_radius>0.004</visual_radius>
    <visual_update_rate>20.0</visual_update_rate>
  
    </plugin>
    {# <!--}--> #}

  </model>

</sdf>
