<?xml version="1.0" encoding="UTF-8"?>
<sdf version='1.6'>

  {% import "component_snippets.sdf.jinja" as components %}

  {# ================================================================== #}
  {# ||                    parameters definition                     || #}
  {# ================================================================== #}

  {# Robot parameters and arguments {--> #}
  {%- set mass = 2.0 -%} {# [kg] #}
  {%- set body_radius = 0.1 -%} {# [m] #}
  {%- set body_height = 0.01 -%} {# [m] #}
  {%- set mass_prop = 0.005 -%} {# [kg] #}
  {%- set radius_rotor = 0.1651 -%} {# [m] #}

  {%- set motor_mesh_z_offset = -0.0086 -%} {# [m] #}
  {%- set rotor_xy_offset = 0.1812 -%} {# [m] #}
  {%- set rotor_z_offset = 0.057 -%} {# [m] #}
  
  {%- set load_x_offset = 0 -%} {# [m] #}
  {%- set load_y_offset = 0 -%} {# [m] #}
  {%- set load_z_offset = -0.07 -%} {# [m] #}

  {% set ball = '0 0 -0.07 0 0 0' %}
  
  {%- set root = 'base_link' -%}
  {# <!--}--> #}

  {# Motor constants {--> #}
  {%- set rotor_velocity_slowdown_sim = 1.0 -%}
  {%- set motor_quadratic_a = 0.240572 -%}
  {%- set motor_quadratic_b = -0.135153 -%}
  {%- set motor_constant = 27.6e-6 -%} {# [kg.m/s^2] #}
  {%- set moment_constant = 0.016 -%} {# [m] #}
  {%- set time_constant_up = 1.0 / 80.0 -%} {# [s] #}
  {%- set time_constant_down = 1.0 / 40.0 -%} {# [s] #}
  {%- set max_rot_velocity = 800 -%} {# [rad/s] #}
  {%- set rotor_drag_coefficient =  8.06428e-04 -%} 
  {%- set rolling_moment_coefficient = "1.0e-6" -%}
  {# <!--}--> #}

  {# Inertia constants {--> #}
  {%- set inertia_body_radius = 0.25 -%} {# [m] #}
  {%- set inertia_body_height = 0.05 -%} {# [m] #}
  {# <!--}--> #}

  {# Scales {--> #}
  {%- set mesh_scale = '1 1 1' -%}
  {%- set mesh_scale_prop_ccw = '1 1 1' -%}
  {%- set mesh_scale_prop_cw = '-1 1 1' -%}
  {%- set mesh_scale_milimeters = '0.001 0.001 0.001' -%}
  {# <!--}--> #}

  {# Meshes {--> #}

  {# Frame parts {--> #}
  {%- set top_board_mesh_file = 'model://laser_uavs_description/meshes/x500/top_board_mesh_file.dae' -%}
  {%- set bottom_board_mesh_file = 'model://laser_uavs_description/meshes/x500/bottom_board_mesh_file.dae' -%}
  {%- set arm_carbon_mesh_file = 'model://laser_uavs_description/meshes/x500/arm_carbon_mesh_file.dae' -%}
  {%- set arm_plastic1_mesh_file = 'model://laser_uavs_description/meshes/x500/elbow_mesh_file.stl' -%}
  {%- set arm_plastic2_mesh_file = 'model://laser_uavs_description/meshes/x500/hand_mesh_file.stl' -%}
  {%- set arm_3d_print_mesh_file = 'model://laser_uavs_description/meshes/x500/arm_3d_print_mesh_file.stl' -%}
  {%- set leg_3d_print_mesh_file = 'model://laser_uavs_description/meshes/x500/leg_3d_print_mesh_file.stl' -%}
  {# <!--}--> #}

  {# Motors and props {--> #}
  {%- set motor_bottom_mesh_file = 'model://laser_uavs_description/meshes/x500/motor_bottom_mesh_file.stl' -%}
  {%- set motor_middle_mesh_file = 'model://laser_uavs_description/meshes/x500/motor_middle_mesh_file.stl' -%}
  {%- set motor_top_mesh_file = 'model://laser_uavs_description/meshes/x500/motor_top_mesh_file.stl' -%}
  {%- set prop_mesh_file = 'model://laser_uavs_description/meshes/x500/prop_mesh_file.dae' -%}
  {# <!--}--> #}

  {# Sensors and computers {--> #}
  {%- set pixhawk6c_mesh_file = 'model://laser_uavs_description/meshes/boards/pixhawk.stl' -%}
  {%- set nuc_board_mesh_file = 'model://laser_uavs_description/meshes/boards/nuc_board_mesh_file.stl' -%}
  {%- set nuc_cooler_mesh_file = 'model://laser_uavs_description/meshes/boards/nuc_cooler_mesh_file.stl' -%}
  {%- set gps_module_mesh_file = 'model://laser_uavs_description/meshes/sensors/gps.stl' -%}
  {# <!--}--> #}

  {# Mounts {--> #}
  {%- set battery_mesh_file = 'model://laser_uavs_description/meshes/x500/battery_mesh_file.stl' -%}
  {%- set battery_mount_mesh_file = 'model://laser_uavs_description/meshes/x500/battery_mount_mesh_file.stl' -%}
  {%- set nuc_hex_posts_mesh_file = 'model://laser_uavs_description/meshes/x500/nuc_hex_posts_mesh_file.stl' -%}
  {%- set gps_mount_mesh_file = 'model://laser_uavs_description/meshes/x500/gps_mount_mesh_file.stl' -%}
  {%- set garmin_mount_mesh_file = 'model://laser_uavs_description/meshes/x500/garmin_mount_mesh_file.stl' -%}
  <!-- {%- set lidar_mount_mesh_file = 'model:/meshes/meshes/x500/lidar_mount_mesh_file.stl' -%} -->
  <!-- {%- set realsense_mount_mesh_file = 'model:/meshes/meshes/x500/realsense_mount_mesh_file.stl' -%} -->
  {# <!--}--> #}

  {# <!--}--> #}

  {# Inertias {--> #}
  {%- set body_ixx = mass * (3 * inertia_body_radius * inertia_body_radius + inertia_body_height * inertia_body_height) / 12 -%}
  {%- set body_ixy = 0 -%}
  {%- set body_ixz = 0 -%}
  {%- set body_iyy = mass * (3 * inertia_body_radius * inertia_body_radius + inertia_body_height * inertia_body_height) / 12 -%}
  {%- set body_iyz = 0 -%}
  {%- set body_izz = (mass * inertia_body_radius * inertia_body_radius) / 2 -%}

  {%- set prop_ixx = 0.0001 -%}
  {%- set prop_ixy = 0 -%}
  {%- set prop_ixz = 0 -%}
  {%- set prop_iyy = 0.0001 -%}
  {%- set prop_iyz = 0 -%}
  {%- set prop_izz = 0.0001 -%}
  {# <!--}--> #}

  <model name="{{  model_name  }}">
    <link name="{{  root  }}">
      <!-- Body physics {-->
      {{ components.multirotor_physics_macro(
      mass = mass,
      body_radius = body_radius,
      body_height = body_height,
      rotor_velocity_slowdown_sim = rotor_velocity_slowdown_sim,
      ixx = body_ixx,
      ixy = body_ixy,
      ixz = body_ixz,
      iyy = body_iyy,
      iyz = body_iyz,
      izz = body_izz)
      }}
      <!--}-->

      <!-- Body visuals {-->

      <!-- Boards {-->
      {{ components.visual_mesh_textured_macro(
        name = 'top_board',
        mesh_file = top_board_mesh_file,
        mesh_scale = mesh_scale,
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}

      {{ components.visual_mesh_textured_macro(
        name = 'bottom_board',
        mesh_file = bottom_board_mesh_file,
        mesh_scale = mesh_scale,
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
			<!--}-->

      <!-- Arms and legs {-->
      {%- for id in range(0, 4) -%}

        {%- set affix = 'front_right' -%}
        {%- set print_color = 'Black' -%}
        {%- if id == 1 -%}
          {%- set affix = 'front_left' -%}
        {%- endif -%}
        {%- if id == 2 -%}
          {%- set affix = 'back_left' -%}
          {%- set print_color = 'Blue' -%}
        {%- endif -%}
        {%- if id == 3 -%}
          {%- set affix = 'back_right' -%}
          {%- set print_color = 'Blue' -%}
        {%- endif -%}

        {{ components.visual_mesh_textured_macro(
          name = 'arm_carbon_' + affix,
          mesh_file = arm_carbon_mesh_file,
          mesh_scale = mesh_scale,
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

        {{ components.visual_mesh_macro(
          name = 'arm_plastic1_' + affix,
          mesh_file = arm_plastic1_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Blue',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

        {{ components.visual_mesh_macro(
          name = 'arm_plastic2_' + affix,
          mesh_file = arm_plastic2_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Blue',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

        {{ components.visual_mesh_macro(
          name = 'arm_3d_print_' + affix,
          mesh_file = arm_3d_print_mesh_file,
          mesh_scale = mesh_scale,
          color = print_color,
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}
      {%- endfor -%}

      {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_front_right',
        mesh_file = leg_3d_print_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Black',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = 0,
        collision_height = 0.165,
        collision_radius = 0.015,
        offset_x = 0.13,
        offset_y = -0.13,
        offset_z = -0.07)
      }}

     {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_front_left',
        mesh_file = leg_3d_print_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Black',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = 1.57079633,
        collision_height = 0.165,
        collision_radius = 0.015,
        offset_x = 0.13,
        offset_y = 0.13,
        offset_z = -0.07)
      }}

      {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_back_left',
        mesh_file = leg_3d_print_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Blue',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = 3.14159266,
        collision_height = 0.165,
        collision_radius = 0.015,
        offset_x = -0.13,
        offset_y = 0.13,
        offset_z = -0.07)
      }}

      {{ components.leg_collision_offset_macro(
        name = 'leg_3d_print_back_right',
        mesh_file = leg_3d_print_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Blue',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = 4.71238899,
        collision_height = 0.165,
        collision_radius = 0.015,
        offset_x = -0.13,
        offset_y = -0.13,
        offset_z = -0.07)
      }}
			<!--}-->

      <!-- Intel nuc {-->
      {{ components.visual_mesh_macro(
        name = 'nuc_board',
        mesh_file = nuc_board_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grass',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      {{ components.visual_mesh_macro(
        name = 'nuc_cooler',
        mesh_file = nuc_cooler_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grey',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      {{ components.visual_mesh_macro(
        name = 'nuc_hex_posts',
        mesh_file = nuc_hex_posts_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grey',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      <!--}-->

      <!-- Pixhawk {-->
      {{ components.visual_mesh_macro(
        name = 'pixhawk6c',
        mesh_file = pixhawk6c_mesh_file,
        mesh_scale = mesh_scale,
        color = 'DarkGrey',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      <!--}-->

      <!-- Motors {-->
      {%- set affix = 'front_right' -%}

      {%- for id in range(0, 4) -%}

        {%- if id == 1 -%}
          {%- set affix = 'front_left' -%}
        {%- endif -%}
        {%- if id == 2 -%}
          {%- set affix = 'back_left' -%}
        {%- endif -%}
        {%- if id == 3 -%}
          {%- set affix = 'back_right' -%}
        {%- endif -%}

        {{ components.visual_mesh_macro(
          name = 'motor_bottom_' + affix,
          mesh_file = motor_bottom_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Grey',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

        {{ components.visual_mesh_macro(
          name = 'motor_middle_' + affix,
          mesh_file = motor_middle_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Black',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = id * 1.5708)
        }}

      {%- endfor -%}
      <!--}-->

      <!-- Battery mount and battery {-->
      {{ components.visual_mesh_macro(
        name = 'battery_mount',
        mesh_file = battery_mount_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Black',
        x = 0,
        y = 0,
        z = 0.001,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      {{ components.visual_mesh_macro(
        name = 'battery',
        mesh_file = battery_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grey',
        x = 0,
        y = 0,
        z = 0.001,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90))
      }}
      <!--}-->

      {# GPS antenna and mount {--> #}
      {%- set gps_visuals -%}
      <!-- GPS mount {-->
      {{ components.visual_link_macro(
        name = 'gps_mount',
        mesh_file = gps_mount_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Grey',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90),
        parent_link = root)
      }}
      <!--}-->

      <!-- GPS antenna {-->
      {{ components.visual_link_macro(
        name = 'gps_module',
        mesh_file = gps_module_mesh_file,
        mesh_scale = mesh_scale,
        color = 'Black',
        x = 0,
        y = 0,
        z = 0,
        roll = 0,
        pitch = 0,
        yaw = components.rad(90),
        parent_link = root)
      }}
      <!--}-->
      {%- endset -%}
      {# <!--}--> #}

      {# component mounts and holders (these must be passed as args into components, or must be called) {--> #}

      {# garmin down mount {--> #}
      {%- set garmin_down_mount -%}
        {{ components.visual_link_macro(
          name = 'garmin_mount',
          mesh_file = garmin_mount_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Black',
          x = 0,
          y = 0,
          z = -0.001,
          roll = 0,
          pitch = 0,
          yaw = components.rad(90),
          parent_link = root)
        }}
      {%- endset -%}
      {# <!--}--> #}

      {# lidar mount {--> #}
      {%- set lidar_mount -%}
        {{ components.visual_link_macro(
          name = 'rplidar_mount',
          mesh_file = lidar_mount_mesh_file,
          mesh_scale = mesh_scale,
          color = 'FlatBlack',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = components.rad(90),
          parent_link = root)
        }}
      {%- endset -%}
      {# <!--}--> #}

      {# realsense mount {--> #}
      {%- set realsense_mount -%}
        {{ components.visual_link_macro(
          name = 'realsense_mount',
          mesh_file = realsense_mount_mesh_file,
          mesh_scale = mesh_scale,
          color = 'Black',
          x = 0,
          y = 0,
          z = 0,
          roll = 0,
          pitch = 0,
          yaw = components.rad(90),
          parent_link = root)
        }}
      {%- endset -%}
      {# <!--}--> #}

      {# <!--}--> #}
      <!--}-->
    </link>

  {# Propellers {--> #}
    {%- set prop_list = [
    {
    'motor_number': 0,
    'direction': 'ccw',
    'x': rotor_xy_offset,
    'y': -rotor_xy_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_ccw,
    'color': 'Grey'
    },
    {
    'motor_number': 1,
    'direction': 'ccw',
    'x': -rotor_xy_offset,
    'y': rotor_xy_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_ccw,
    'color': 'Grey'
    },
    {
    'motor_number': 2,
    'direction': 'cw',
    'x': rotor_xy_offset,
    'y': rotor_xy_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_cw,
    'color': 'Grey'
    },
    {
    'motor_number': 3,
    'direction': 'cw',
    'x': -rotor_xy_offset,
    'y': -rotor_xy_offset,
    'z': rotor_z_offset,
    'mesh_files': [prop_mesh_file, motor_top_mesh_file],
    'mesh_scale': mesh_scale_prop_cw,
    'color': 'Grey'
    }
    ]
    -%}
    {{ components.propellers_macro(
      prop_list = prop_list,
      motor_quadratic_a = motor_quadratic_a,
      motor_quadratic_b = motor_quadratic_b,
      rotor_velocity_slowdown_sim = rotor_velocity_slowdown_sim,
      motor_constant = motor_constant,
      moment_constant = moment_constant,
      parent = root,
      mass = mass_prop,
      radius = radius_rotor,
      time_constant_up = time_constant_up,
      time_constant_down = time_constant_down,
      max_rot_velocity = max_rot_velocity,
      rotor_drag_coefficient = rotor_drag_coefficient,
      rolling_moment_coefficient = rolling_moment_coefficient,
      meshes_z_offset = motor_mesh_z_offset,
      prop_ixx = prop_ixx,
      prop_ixy = prop_ixy,
      prop_ixz = prop_ixz,
      prop_iyy = prop_iyy,
      prop_iyz = prop_iyz,
      prop_izz = prop_izz)
    }}
    {# <!--}--> #}

    {# ================================================================== #}
    {# ||                compulsory sensor definitions                 || #}
    {# ================================================================== #}

    <!-- Pixhawk {-->
    {%- set imu_topic = '/imu' -%}
    {%- set mag_topic = '/mag' -%}
    {%- set baro_topic = '/baro' -%}
    {%- set lidar_topic = '/lidar' -%}

    <!-- Gazebo ground truth {-->
    {{ components.gazebo_groundtruth_macro(
      home_latitude = 0,
      home_longitude = 0,
      home_altitude = 0)
    }}
    <!--}-->

    <!-- GPS {-->
    {{ components.gazebo_gps_macro(
      gps_name = 'gps0',
      parent_link = root,
      update_rate = 10,
      gps_noise = true,
      gps_xy_random_walk = 50.0,
      gps_z_random_walk = 100.0,
      gps_xy_noise_density = '1.5e-2',
      gps_z_noise_density = '3.0e-2',
      gps_vxy_noise_density = 0.5,
      gps_vz_noise_density = 1.0,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->

    <!-- Garmin {-->
    {% if enable_garmin %}
    {{ components.gazebo_garmin_macro(
      garmin_name = 'lidar0',
      parent_link = root,
      update_rate = 100,
      lidar_topic = lidar_topic,
      x = 0,
      y = 0.04,
      z = 0.034,
      yaw = -1.57,
      max_distance = 15.0,
      min_distance = 0.05)
    }}
    {% endif %}
    <!--}-->

    <!-- Magnetometer {-->
    {{ components.gazebo_magnetometer_macro(
      pub_rate = 100,
      noise_density = 0.0004,
      random_walk = 0.0000064,
      bias_correlation_time = 600,
      mag_topic = mag_topic)
    }}
    <!--}-->

    <!-- Barometer {-->
    {{ components.gazebo_barometer_macro(
      baro_topic = baro_topic,
      pub_rate = 50,
      baro_drift_pa_per_sec = 0)
    }}
    <!--}-->

    <!-- Mavlink interface {-->
    {{ components.gazebo_mavlink_interface_macro(
      namespace = namespace,
      instance = instance,
      imu_topic = imu_topic,
      mag_topic = mag_topic,
      baro_topic = baro_topic,
      lidar_topic = lidar_topic)
    }}
    <!--}-->

    <!-- IMU {-->
    <!-- NOTE: IMU has to be last, otherwise the simulation is extremely slow! -->
    {{ components.gazebo_imu_macro(
      imu_name = 'imu',
      parent_link = root,
      imu_topic = imu_topic,
      gyroscope_noise_density = 0.00018665,
      gyroscope_random_walk = 0.000038785,
      gyroscope_bias_correlation_time = 1000.0,
      gyroscope_turn_on_bias_sigma = 0.0087,
      accelerometer_noise_density = 0.00186,
      accelerometer_random_walk = 0.006,
      accelerometer_bias_correlation_time = 300.0,
      accelerometer_turn_on_bias_sigma = 0.1960,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->
    <!--}-->

    {# ================================================================== #}
    {# ||                  optional sensor definitions                 || #}
    {# ================================================================== #}

    {# Ground truth {--> #}
    {% if enable_ground_truth %}
    {{ components.gazebo_ground_truth_macro(
      namespace = namespace,
      odometry_sensor_name = 'ground_truth',
      parent_link = root,
      topic_name = 'ground_truth',
      noise = 0,
      frame_name = 'world',
      update_rate = 100,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0,
      x_offset = x_offset,
      y_offset = y_offset,
      z_offset = z_offset,
      roll_offset = roll_offset,
      pitch_offset = pitch_offset,
      yaw_offset = yaw_offset)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ======================= rangefinder sensors ====================== #}


    {# ========================== LIDAR sensors ========================= #}

    {# Livox placements {--> #}
    {# livox {--> #}
    {% if enable_livox %}
    {{ components.livox_lidar_macro(
      namespace = namespace,
      parent_link = root,
      sensor_name = 'livox_up',
      rot_freq = 10,
      noise = 0.01,
      max_range = 40,
      x = 0.0,
      y = 0.0,
      z = 0.1,
      roll = 0,
      pitch = 0.0,
      yaw = 0,
      lasers = 20)
    }} 

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'livox_up_imu',
      parent_link = 'livox_up',
      topic_name = namespace + '/livox_up/imu',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = 0.0,
      pitch = 0.0,
      yaw = 0.0)
    }}
    {% endif %}
    {# <!--}--> #}

    {# livox_45 {--> #}
    {% if enable_livox_45 %}
    {{ components.livox_lidar_macro(
      namespace = namespace,
      parent_link = root,
      sensor_name = 'livox_inclined',
      rot_freq = 15,
      noise = 0.01,
      max_range = 40,
      x = 0.0,
      y = 0.0,
      z = 0.1,
      roll = 0,
      pitch = 0.785398,
      yaw = 0,
      lasers = 20)
    }} 

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'livox_inclined_imu',
      parent_link = 'livox_inclined',
      topic_name = namespace + '/livox_inclined/imu',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = 0.0,
      pitch = 0.0,
      yaw = 0.0)
    }}
    {% endif %}
    {# <!--}--> #}

    {# livox_down {--> #}
    {% if enable_livox_down %}
    {{ components.livox_lidar_macro(
      namespace = namespace,
      parent_link = root,
      sensor_name = 'livox_down',
      rot_freq = 15,
      noise = 0.01,
      max_range = 40,
      x = -0.05,
      y = 0.0,
      z = -0.05,
      roll = 3.141592,
      pitch = 0.785398,
      yaw = 0,
      lasers = 20)
    }} 

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'livox_down_imu',
      parent_link = 'livox_down',
      topic_name = namespace + '/livox_down/imu',
      update_rate = 200,
      x = 0.00,
      y = 0.0,
      z = 0.00,
      roll = 0.0,
      pitch = 0.0,
      yaw = 0.0)
    }}
    {% endif %}
    {# <!--}--> #}
    {# <!--}--> #}

    {# ========================== camera sensors ======================== #}

    {# Realsense placements {--> #}
    {# realsense front {--> #}
    {% if enable_d435_front %}
    {{ components.realsense_d435_macro(
      namespace = namespace,
      camera_name = 'front_rgbd', 
      camera_suffix='',
      parent_link = root,
      realistic = 1,
      update_rate = 60,
      x = 0.072,
      y = 0.0,
      z = -0.016,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    {% endif %}

    {% if enable_d435i_front %}
    {{ components.realsense_d435_macro(
      namespace = namespace,
      camera_name = 'front_rgbd', 
      camera_suffix='',
      parent_link = root,
      realistic = 1,
      update_rate = 60,
      x = 0.0,
      y = 0.0,
      z = 0.15,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'front_rgbd_imu',
      parent_link = 'front_rgbd',
      topic_name = namespace + '/front_rgbd/imu/data',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = -1.5708,
      pitch = 0,
      yaw = -1.5708)
    }}
    {% endif %}
    {# <!--}--> #}

    {# realsense down {--> #}
    {% if enable_d435_down %}
    {{ components.realsense_d435_macro(
      namespace = namespace,
      camera_name = 'down_rgbd', camera_suffix='',
      parent_link = root,
      realistic = 1,
      update_rate = 60,
      x = 0.065,
      y = 0.0,
      z = -0.026,
      roll = 0,
      pitch = 1.5708,
      yaw = 0)
    }}
    {% endif %}

    {% if enable_d435i_down %}
    {{ components.realsense_d435_macro(
      namespace = namespace,
      camera_name = 'down_rgbd', camera_suffix='',
      parent_link = root,
      realistic = 1,
      update_rate = 60,
      x = 0.055,
      y = 0.0,
      z = -0.052,
      roll = 0,
      pitch = 1.5708,
      yaw = 0)
    }}

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'down_rgbd_imu',
      parent_link = 'down_rgbd',
      topic_name = namespace + '/down_rgbd/imu/data',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = -1.5708,
      pitch = 0,
      yaw = -1.5708)
    }}
    {% endif %}
    {# <!--}--> #}
    {# <!--}--> #}

    {# ========================== VIO sensors ======================== #}

    {# VIO (classic) {--> #}
    {% if enable_vio %}
    {{ components.vio_macro(
      namespace = namespace,
      sensor_name = 'vio',
      parent_link = root,
      camera_rate = 120,
      imu_rate = 200,
      x = 0.095,
      y = 0,
      z = -0.025,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ========================== research itens ======================== #}

    {# load_pendulum {--> #}
    {% if enable_load_pendulum %}
    {{ components.load_pendulum(
      name='load_attacher',
      parent_link='base_link',
      attach_linker_pose='0 0 -0.01 0 0 0',
      attach_linker_mass=0.01,
      rope_num_segments=20,
      rope_segment_length=0.03,
      rope_segment_radius=0.002,
      rope_segment_mass=0.001,
      load_mass=0.1,
      load_x_offset=load_x_offset,
      load_y_offset=load_y_offset,
      load_z_offset=load_z_offset)
    }}
    {% endif %}
    {# <!--}--> #}
      
    {# hollow_load_pendulum {--> #}
    {% if enable_hollow_load_pendulum %}
    {{ components.hollow_load_pendulum(
      name='load_attacher',
      parent_link='base_link',
      attach_linker_pose='0 0 -0.01 0 0 0',
      attach_linker_mass=0.01,
      rope_num_segments=20,
      rope_segment_length=0.03,
      rope_segment_radius=0.002,
      rope_segment_mass=0.001,
      load_mass=0.1,
      load_x_offset=load_x_offset,
      load_y_offset=load_y_offset,
      load_z_offset=load_z_offset)
    }}
    {% endif %}
    {# <!--}--> #}
  
    {# load ground truth {--> #}
    {% if enable_ground_truth and (enable_hollow_load_pendulum or enable_load_pendulum) %}
    {{ components.gazebo_ground_truth_macro(
      namespace = namespace,
      odometry_sensor_name = 'load_ground_truth',
      parent_link = 'load_link',
      topic_name = 'load_ground_truth',
      noise = 0,
      frame_name = 'world',
      update_rate = 100,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0,
      x_offset = load_x_offset,
      y_offset = load_y_offset,
      z_offset = load_z_offset,
      roll_offset = roll_offset,
      pitch_offset = pitch_offset,
      yaw_offset = yaw_offset)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ball_load {--> #}
    {% if enable_hollow_load_pendulum %}
      {% set poses = [ball] %}

      {% for i in range(poses | length) %}
        {% for j in range(1) %}
        {{ components.spawn_passive_ball(
            name='ball_passiva_' ~ i ~ '_' ~ j, 
            pose=poses[i],
            mass=0.2,
            radius=0.02)
        }}
        {% endfor %} 
      {% endfor %}
    {% endif %}
    {# <!--}--> #}
  </model>
</sdf>
