<?xml version="1.0"?>

<!-- Constants {-->

{%- set M_PI = 3.1415926 -%}
{%- set laser_min_range = 0.1 -%}
{%- set laser_max_range = 40.0 -%}
{%- set samples = 15000 -%}
{%- set resolution = 0.002 -%}
{%- set noise_mean = 0.0 -%}
{%- set noise_stddev = 0.01 -%}

{%- set mass = 0.4 -%}
{%- set length = 0.1 -%}
{%- set width = 0.06 -%}
{%- set height = 0.06 -%}

<!--}-->
